/*-------------*\
  fonts
\*-------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@400;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');


/*-----------------------------*\
  common styles and utilities
\*-----------------------------*/
*{
    margin:0;
    padding:0;
     
}
body{
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding:0 30px;
}
/*----------------------------*\
  header design starts here
\*----------------------------*/
.primary-button{
    outline: 0;
    border:0;
    padding: 10px 24px 10px 24px;
    background-color:#E02C6D;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 7px 0 #a5075e;
    position: relative;
    top:0;
}
.primary-button a {
    color:#FFFFFF;
    text-decoration: none;
}

.primary-button:hover{
    top:5px;
    box-shadow: 0 2px 0 #a5075e;;
}
.fa-arrow-right{
    color:#FFFFFF;
}
header{
   
    margin-top:50px;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.title{
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;

}
.navigation{
    display: flex;
   
}
.navigation li{
    list-style: none;
    margin:10px;
    
    
}
.navigation li a{
    text-decoration: none;
    color:#3A3A3A;
    font-size: 1em;
    cursor:pointer;
    font-weight: 400;
    padding:5px 5px;

}
.banner{
    display:grid;
    grid-template-columns:repeat(2,1fr);
   
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-left h1{
   font-family: Poppins;
   font-weight: 700;
   font-size: 2em; 
}
.banner-left p{
    font-family: Poppins;
    font-size: 16px;
    color:#3A3A3A;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin:20px 0;

}


.banner-right{
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner-right img{
    width:50%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}
/*--------------------------------------*\
 main section design starts here
\*--------------------------------------*/
.section-title{
    text-align: center;
}
.section-title h2 {
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
    margin:50px 0;
    display: inline-block;
    color:#3A3A3A;

}
/*--------------------------------*\
 products items design
\*--------------------------------*/
.products-items{
   
    display:grid;
    gap:70px;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
    
    
}
.products-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: 329px;
    height: 450px;
    left: 196px;
    top: 1035px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.product-photo img {
        
        height: 256px;
        width:100%;
        border-radius: 20px;
        object-fit: cover;
}

.products-info h4{
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;

}
.products-info h5{
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;


}
.fa-star{
    font-size: 10px;
}
.fa-star.filled{
    color:#ffc014;
}
.fa-star.empty{
    color:#aeaeae;
}
.ratings{
    display: flex;
    
    align-items: center;
}
.ratings p{
    font-family: Roboto;
    font-size: 14px;
   
}
.products-details{
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    color:#787878;
    line-height: 20px;
    letter-spacing: 0.018em;
    text-align: left;

}
/*--------------------------------------------------*\
 see more section design starts here
\*-------------------------------------------------*/
.see-more-area{
    display: flex;
    justify-content: flex-end;
    
}
.see-more-btn{
    outline: 0;
    border:0;
    padding: 10px 24px 10px 24px;
    color:#E02C6D;
    background-color: #FFFFFF;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
   
}
.see-more-btn a{
    text-decoration: none;
}
.fa-arrow-right.seemore-arrow{
    color:#E02C6D;
}
/*--------------------------------------------------*\
 contact us section design starts here
\*-------------------------------------------------*/
.dotted-hr {
    border: dotted 6px #E02C6D ;
    border-bottom: none;
    margin:5px auto;
    width:70px;
}


.contact-us {
    padding:1% 7%;
    text-align:center;
    background-color:#CAD5E2;
    margin-top:50px;
    margin-bottom: 80px;
    

}
.contact-us textarea, input {
    width:100%;
    padding:20px;
    font-size:1rem;
    font-family: inherit;
    text-align: center;
    border:none;
    border-radius:5px;
    resize: none;
    margin-top: 15px;
}
.contact-us button {
    border:none;
    border-radius:5px;
    background-color: #E02C6D;
    padding:10px 12px;
    color:white;
    cursor: pointer;
    margin: 10px;
    width:100px;
}

/*--------------------------------------------------*\
 footer section design starts here
\*-------------------------------------------------*/


.footer-section {
    background-color: #120E43;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h6{
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    color:#FFFFFF;

}
.footers-para {
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color:#D9DBE1;
   

}
.contact-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.social-link{
    color:#FFFFFF;
}




